planner.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="plan" type="plan">
		<xs:key name="template-key">
			<xs:selector xpath="./defs/template" />
			<xs:field xpath="@name" />
		</xs:key>

		<xs:keyref name="template-ref" refer="template-key">
			<xs:selector xpath="./flat/features/furniture" />
			<xs:field xpath="@name" />
		</xs:keyref>

		<xs:unique name="unique-flat-id">
			<xs:selector xpath="flat" />
			<xs:field xpath="@id" />
		</xs:unique>
	</xs:element>

	<xs:simpleType name="metric-size">
		<xs:restriction base="xs:string">
			<xs:pattern value="\-?\d+(\.\d+)?(mm|cm|dm|m)"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="metric-area">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d+(\.\d+)?(mm|cm|dm|m)2"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="plan">
		<xs:sequence>
			<xs:element name="defs" type="defs" maxOccurs="1" />
			<xs:element name="axes" type="axes" maxOccurs="1">
				<xs:unique name="unique-axis-id">
					<xs:selector xpath="axis" />
					<xs:field xpath="@id" />
				</xs:unique>
			</xs:element>
			<xs:element name="walls" type="walls" maxOccurs="1" />
			<xs:element name="flat" type="flat" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="defs">
		<xs:sequence>
			<xs:element name="color" type="color" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="template" type="template" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="color">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="value" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="template">
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="path">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value=".*\.svg" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="axes">
		<xs:sequence>
			<xs:element name="axis" type="axis" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="axis">
		<xs:attribute name="id" type="xs:string" />
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="horizontal"></xs:enumeration>
					<xs:enumeration value="vertical"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="offset" type="metric-size" />
	</xs:complexType>

	<xs:complexType name="flat">
		<xs:sequence>
			<xs:element name="features" type="features" minOccurs="0" maxOccurs="1" />
			<xs:element name="room" type="room" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>

		<xs:attribute name="id" type="xs:string" />
	</xs:complexType>

	<xs:complexType name="room">
		<xs:sequence>
			<xs:element name="walls" type="walls" minOccurs="0" maxOccurs="1" />
		</xs:sequence>

		<xs:attribute name="area_override" type="metric-area" default="0mm2" />
		<xs:attribute name="area_offset_x" type="metric-size" default="0mm" />
		<xs:attribute name="area_offset_y" type="metric-size" default="0mm" />
		<xs:attribute name="not_living" type="xs:anySimpleType" default="" />
		<xs:attribute name="balcony" type="xs:anySimpleType" default="" />
	</xs:complexType>

	<xs:complexType name="walls">
		<xs:sequence>
			<xs:element name="wall" type="wall" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="wall">
		<xs:attribute name="from" type="xs:string" />
		<xs:attribute name="to" type="xs:string" />
		<xs:attribute name="thickness" type="metric-size" />
	</xs:complexType>

	<xs:complexType name="features">
		<xs:sequence>
			<xs:element name="window" type="window" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="door" type="door" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="furniture" type="furniture" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="door">
		<xs:attribute name="wall" type="xs:string" />
		<xs:attribute name="offset" type="metric-size" />
		<xs:attribute name="width" type="metric-size" />
		<xs:attribute name="height" type="metric-size" />
		<xs:attribute name="side" type="xs:string" />
		<xs:attribute name="mirror" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="window">
		<xs:attribute name="wall" type="xs:string" />
		<xs:attribute name="offset" type="metric-size" />
		<xs:attribute name="width" type="metric-size" />
		<xs:attribute name="height" type="metric-size" />
		<xs:attribute name="mirror" type="xs:boolean" />
	</xs:complexType>

	<xs:complexType name="furniture">
		<xs:attribute name="wall" type="xs:string" />
		<xs:attribute name="name" type="xs:string" />
		<xs:attribute name="width" type="metric-size" />
		<xs:attribute name="height" type="metric-size" />
		<xs:attribute name="offset" type="metric-size" />
		<xs:attribute name="offset_normal" type="metric-size" />
		<xs:attribute name="rotate" type="xs:double" />
		<xs:attribute name="mirror" type="xs:boolean" />
	</xs:complexType>
</xs:schema>
